
<!DOCTYPE html>
<html>
	<head>
		<title>SignUp</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body style="background-color:#e0e0d1">
		<center>
		<div  style="height:80vh;background-color:white;margin-top:20px;border-radius:20px" class="col-md-6" >
			<h3 style="padding:10px;font:" align="center">Create your account</h3>
			
			{% if error %}
			<div class="alert alert-danger" role="alert">{{error}}</div>
		{% endif %}
		<form action="/signup/" method="POST">
			{% csrf_token %}
			<div class="form-group" style="padding:10px;">
				
				<input type="email" class="form-control" name="email" placeholder="Email" align="center" style="width:50%;padding:15px">
			</div>
			<div class="form-group" style="padding:10px;">
				
				<input type="password" class="form-control" name="password1" placeholder="Password" align="center" style="width:50%;padding:15px">
			</div>
			<div class="form-group" style="padding:10px;">
				
				<input type="password" class="form-control" name="password2" placeholder="Confirm Password" align="center" style="width:50%;padding:15px">
			</div>
			<div class="container" align="center">
			<button type="submit" class="btn btn-default" align="center" >Sign Up</button>
	</div>		
		</form>
			<small><p style="padding:15px"><b>signin here</b></p></small>
		<div class="container">
			<a href="/login/"><button type="button" class="btn btn-primary btn-sm">Signin.</button></a>
		</div>
		</div>
		</center>
	</body>
</html>